@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: neue;
  src: url("./NeueMachina-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neue;
  color: #000;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #f0f0f0;
}
body {
  position: relative;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.side {
  position: fixed;
  /* display: none; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px) brightness(50%);
  z-index: 10000;
  padding: 15vw 8vw;
}
.side .fa-xmark {
  position: absolute;
  right: 10%;
  font-size: 25px;
  top: 2%;
  color: #e5e5e5;
  cursor: pointer;
}

.side h3 {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: #e5e5e5;
}
.side h3 span {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 3vw 4vw;
  color: rgb(200, 200, 200);
  display: inline-block;
  position: absolute;
  bottom: -130%;
}
.side > ul {
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
.side ul li a {
  font-size: 24px;
  color: #e5e5e5;
}

.side .social {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  position: absolute;
  bottom: 10%;
}
.side .social ul {
  display: flex;
  gap: 4vw;
}
.side .social p {
  color: #e5e5e5;
}
.side .social ul li i {
  font-size: 30px;
  color: #e5e5e5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 6vw;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}
nav .fa-bars {
  font-size: 20px;
  position: absolute;
  right: 7%;
  display: none;
  cursor: pointer;
}
nav ul li {
  font-size: 15px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
nav ul li::after {
  position: absolute;
  bottom: 0;
  left: -100%;
  height: 1px;
  width: 100%;
  content: "";
  background-color: orangered;
  transition: 0.2s;
}
nav ul li:hover::after {
  animation: anim2 0.7s ease-in-out;
}
@keyframes anim2 {
  100% {
    left: 100%;
  }
}

button {
  padding: 7px 20px;
  color: #fff;
  border: none;
  background-color: orangered;
  border-radius: 4px;
  position: relative;
  perspective: 100px;
  cursor: pointer;
  transition: background-color 0.37s;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
button::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  filter: blur(10px);
  transform: rotateX(80deg);
  pointer-events: none;
  transition: 0.37s;
}

button:hover {
  background-color: rgb(221, 59, 0);
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 6vw;
}
.section-1 > div {
  width: 50%;
}

.left h3 {
  text-transform: uppercase;
  color: rgb(50, 50, 50);
  margin: 6vw 0 1vw 0;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.left h1 {
  font-size: 3.7vw;
  line-height: 1.3;
  font-family: "poppins";
}
.left h1 span {
  color: orangered;
  font-family: "poppins";
}
.left > p {
  font-size: 12px;
  margin: 1.5vw 0;
  color: #000;
  line-height: 1.7;
}
.left .links {
  margin: 2vw 0;
}
.left .links ul {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}
.links p {
  margin: 3vw 0 0.5vw 0;
  font-size: 14px;
  color: #000;
}
.links ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background: linear-gradient(115deg, #777, #313131);
  box-shadow: 1px 1px 10px gray;
  border-radius: 9px;
}
.links ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links ul li a i {
  font-size: 25px;
  color: #e5e5e5;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.right .image1 {
  overflow: hidden;
  box-shadow: 10px 10px 10px gray, -10px -10px 20px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  width: 50%;
}
.right img {
  width: 100%;
  scale: 1.05;
  object-position: top;
}
.right .bg {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: rgb(0, 0, 255);
  filter: blur(200px);
  animation: anim 10s infinite;
}
@keyframes anim {
  50% {
    height: 100px;
    width: 100px;
  }
}

.section-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10vw 6vw;
}
.section-2 > div {
  width: 50%;
}
.section-2 .am-left {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}
.am-left .image2 {
  cursor: pointer;
  display: flex;
  width: 90%;
}

.image2 .inner-image2 {
  width: 100%;
  position: relative;
  height: fit-content;
  display: flex;
  align-items: center;
  perspective: 700px;
}
.section-2 .am-left .image2 .inner-image2 img {
  width: 100%;
  z-index: 3;
}

.am-left .bg {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: rgb(0, 0, 255);
  filter: blur(200px);
  animation: anim 10s infinite;
}
.section-2 .am-right {
  padding: 4vw;
}
.section-2 .am-right h3 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 1vw;
}
.am-right p {
  font-size: 1vw;
  margin-bottom: 1vw;
  width: 85%;
  color: #000;
  font-family: "poppins";
}

.section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 9vw 0;
  padding-top: 10vw;
  position: relative;
}
.section-3 > h3 {
  color: #000;
  font-weight: 600;
  font-size: 40px;
  width: 100%;
  padding: 0 4vw;
  text-align: center;
}
.section-3 > p {
  color: #111;
  font-size: 15px;
  width: 100%;
  padding: 0 4vw;
  padding-bottom: 6vw;
  text-align: center;
}

.section-3 .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  margin: 2vw 0;
}
.cards .card {
  width: 23vw;
  height: 33vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: 0.2s;
  perspective: 700px;
}

.card .image {
  width: 100%;
  height: 100%;
  /* background:linear-gradient(180deg,transparent,red); */
  overflow: hidden;
  z-index: 3;
  box-shadow: 10px 10px 10px gray, -2px -2px 15px gray;
}
.card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.24s;
  scale: 1;
}
.image h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  white-space: nowrap;
  font-family: "poppins";
  text-align: center;
  text-shadow: 0 0 4px #000;
  text-transform: uppercase;
}

.card h2 {
  font-weight: 600;
  text-align: left;
  width: 100%;
  padding: 0.5vw;
  font-size: 2vw;
  color: #fff;
  transform: rotateY(180deg);
}
.card p {
  font-size: 1vw;
  text-align: left;
  color: rgb(255, 255, 255, 0.8);
  padding: 0 0.5vw;
  text-shadow: 0 0 2px #00000073;
  transform: rotateY(180deg);
}

.card .paxadi {
  background-color: #333;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 9vw 6vw;
}
.section-4 h3 {
  font-weight: 500;
  font-size: 30px;
  color: #000;
}
.section-4 p {
  font-size: 20px;
  margin-bottom: 4vw;
  color: #000;
}
.section-4 form {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  align-items: center;
}
.section-4 textarea {
  resize: none;
  color: #fff;
  padding: 0.7vw 2vw;
  width: 350px;
  min-height: 150px;
  border: none;
  background: rgba(0, 0, 0, 0.412);
  border: 0.5px solid rgba(128, 128, 128, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
.section-4 input {
  color: #fff;
  padding: 0.7vw 2vw;
  width: 350px;
  border: none;
  background: #00000069;
  border: 0.5px solid rgba(128, 128, 128, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
.section-4 textarea::-webkit-input-placeholder,
.section-4 input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

@media (max-width: 750px) {
  .am-right p {
    font-size: 1.5vw;
    width: 100%;
  }
  .right .image1 {
    width: 80%;
  }
  button {
    padding: 0.3rem 1rem;
  }
  .card h2 {
    font-size: 2.4vw;
  }
  .card p {
    font-size: 1.5vw;
  }
  .cards .card {
    width: 27vw;
    height: 39vw;
  }
  .card .image {
    min-height: 15vw;
  }
}

@media (max-width: 620px) {
  .left .links ul {
    gap: 4vw;
  }
  nav {
    padding: 6vw;
  }
  nav ul {
    display: none;
  }
  nav button {
    display: none;
  }
  nav .fa-bars {
    display: block;
  }
  .section-1 {
    flex-direction: column;
    padding: 20vw 5vw;
  }
  .section-1 > div {
    width: 100%;
  }
  .left h3 {
    font-size: 15px;
  }
  .left h1 {
    font-size: 7vw;
  }
  .right .image1 {
    margin-top: 6vw;
    width: 95%;
  }
  .section-2 {
    flex-direction: column;
  }
  .section-2 > div {
    width: 100%;
  }
  .am-right p {
    font-size: 3vw;
  }
  .section-2 .am-left {
    justify-content: center;
  }
  .section-3 .cards {
    flex-direction: column;
  }

  .card h2 {
    font-size: 6vw;
  }
  .card p {
    font-size: 4vw;
  }
  .cards .card {
    width: 70%;
    height: fit-content;
    margin-top: 10vw;
  }
  .cards .paxadi {
    padding: 4vw;
  }
  .card .image {
    height: 100vw;
  }
  .section-4 input {
    padding: 2vw 4vw;
    width: 90%;
  }
  .section-4 textarea {
    padding: 1vw 4vw;
    width: 90%;
  }
  .section-4 form {
    width: 100%;
    gap: 1.5vw;
  }
  .image h3 {
    font-size: 35px;
  }
  button {
    padding: 10px 20px 7px 20px;
  }
}
